<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doodle Room</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="chat">

    <div class="chat__sidebar">
      <h3>Room ID: <%= room %></h3>
      <h3>Username: <%= names %></h3>
      <h3>People</h3>
      <div id="users"></div>
      <div id="timer"></div>
    </div>

     <!-- The Modal -->
    <div class="modal" id="myModal"></div>

    <div class="chat__main">
      <ol id="messages" class="chat__messages"></ol>

      <div class="chat__footer">
        <form id="message-form">
          <input id="message-box" type="text" placeholder="Message" autofocus autocomplete="off"/>
          <button id="submit-btn">Send</button>
          <button id="game-btn">ready</button>
        </form>
      </div>
    </div>

    <script id="message-template" type="text/template">
      <li class="message">
        <div class="message__title">
          <h4>{{from}}</h4>
          <span>{{createdAt}}</span>
        </div>
        <div class="message__body">
          <p>{{text}}</p>
        </div>
      </li>
    </script>

    <script id="modal-template" type="text/template">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>{{player_name}}</p>
        </div>
      </div>
    </script>
    
    <script src="../socket.io/socket.io.js"></script>
    <script>
      var userName = '<%= names %>';
      var room = '<%= room %>'
    </script>
    <script type="text/javascript" src="js\index.js"></script>
    <script type="text/javascript" src="js\libs\mustache.js"></script>
  </body>
</html>
